@import url('./header.css');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
$color-shadow: #BABECC;
$color-white: rgb(255, 255, 255);
$color-bg: rgba(243, 244, 243, 0.8);

.Ranking{
    max-width: 1100px;
    margin: 170px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'OTWelcomeRA';
    color: rgb(69, 69, 69);
    
    h2{
        text-align: center;
        display: block;
        margin-bottom: 40px;
        font-size: 40px;
        letter-spacing: 4px;
        color: #f07d8d;
    }

    .leagueList{
        display: flex;
        justify-content: space-around;
        margin: 50px 50px 0px;
        li{
            display: flex;
            align-items: center;
            justify-content:center;
            text-align: center;
            width: 11%;
            cursor: pointer;
            color: rgb(78, 78, 78);
            padding: 10px 0;
            border-radius: 10px;
            background-color:$color-white;
            &:hover {
                box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
            }
            &:active {
                box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
            }
        }
        li.active{
            &:nth-child(1){
                background-color: #c7c5b5;
                color: white;
            }
            &:nth-child(2){
                background-color: #de4040;
                color: white;
            }
            &:nth-child(3){
                background-color: #9240de;
                color: white;
            }
            &:nth-child(4){
                background-color: #aface8;
                color: white;
            }
            &:nth-child(5){
                background-color: #89ce9f;
                color: white;
            }
            &:nth-child(6){
                background-color: goldenrod;
                color: white;
            }
            &:nth-child(7){
                background-color: silver;
                color: white;
            }
            &:nth-child(8){
                background-color: rgb(161, 112, 27);
                color: white;
            }
            background-color: #5766a8;
            color: white;
        }
    }
    
    .division{
        display: flex;
        opacity: 1;
        justify-content: center;
        margin: 40px 50px;
        transition: 0.5s;
        overflow: hidden;
        padding: 20px 0;
        li{
            text-align: center;
            width: 9%;
            cursor: pointer;
            margin: 0 20px;
            background-color:$color-white;
            color: rgb(138, 138, 138);
            padding: 8px 0;
            border-radius: 10px;
            &:hover {
                box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
            }
        
            &:active {
                box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
            }
        }
        
        li.active{
            background-color: #5766a8;
            color: white;
        }
    }

    .Rankers{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 0 auto 50px;
        color: rgb(48, 48, 48);
        background-color: $color-bg;
        box-shadow: -1px -1px 10px $color-white,  1px 1px 10px #BABECC;
        border-radius: 10px;
        padding-bottom: 10px;
        li{
            width: 95%;
            height: 50px;
            margin: 0 auto ;
            padding: 10px 0 ;
            display: flex;
            align-items: center;
            border-radius: 8px;
            margin: 5px 0;
            box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);     
            transition: 1s;
            background-color: $color-white;
            &:nth-child(1) {
                background-color: transparent;
                box-shadow: none;
            }
            &:nth-child(2) {
                .Rank{
                    color: black;
                    background: url("../img/crown.png") no-repeat;
                    background-size: 120px;
                    background-position:-6.5px -33px;
                    height: 30px;
                    width: 30px;
                    margin: 0 35px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .RankerName{
                    color:  rgb(221, 158, 0);
                }
            }   
            &:nth-child(3) {
                .Rank{
                    color: black;
                    background: url("../img/crown.png") no-repeat;
                    background-size: 120px;
                    background-position: -45.5px -33px;
                    height: 30px;
                    width: 30px;
                    margin: 0 35px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .RankerName{
                    color: rgb(164, 164, 164);
                }
            }   
            &:nth-child(4) {
                .Rank{
                    color: black;
                    background: url("../img/crown.png") no-repeat;
                    background-size: 120px;
                    background-position:-83px -33px;
                    height: 30px;
                    width: 30px;
                    margin: 0 35px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .RankerName{
                    color: rgb(149, 82, 82);
                }
            }   
            p{
                display: block;
                text-align: center;
            }
            .Rank{
                width: 100px;
                transition: 0.5s;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 4px;
            }
            .RankerName{
                width: 50%;
                cursor: pointer;
                transition: 0.5s;
                display: flex;
                align-items: center;
                padding-top: 4px;
                &:hover{
                    font-size: 17px;
                    color: #b94f4f;
                }
            }
            .LP{
                width: 13%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 4px;
            }
            .WL{
                display: flex;
                width: 15%;
                color: white;
                height: 25px;
                border-radius: 7px;
                overflow: hidden;
                .win{
                    text-align: left;
                    padding-left : 5px;
                    background-color: #5383E8;   
                    display: flex;
                    align-items: center;
                }
                .loss{
                    text-align: right;  
                    padding-right : 5px;
                    background-color: #E84057;
                    display: flex;
                    justify-content: right;
                    align-items: center;
                }
            }
            .Odds{
                width: 12%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 4px;
            }
        }
        .topItem{
            width: 100%;
            height: 50px;
            margin: 10px auto ;
            padding: 10px 0 20px;
            display: flex;
            align-items: center;
            position: relative;
            p{
                text-align: center;
                &:nth-child(1){
                    width: 10%;
                }
                &:nth-child(2){
                    width: 50%;
                    text-align: left;
                }
                &:nth-child(3){
                    width: 13%;
                }
                &:nth-child(4){
                    width: 15%;
                }
                &:nth-child(5){
                    width: 12%;
                }
            }
        }
    }
}

.goTop{
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
    width: 45px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    position: fixed;
    opacity: 0;
    bottom: 50px;
    right: 80px;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    svg{
        transform: scale(0.5);
    }
}

