@import url('./header.css');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
$color-shadow: #BABECC;
$color-white: rgb(255, 255, 255);
$color-bg: rgba(243, 244, 243, 0.8);

.Ranking{
    max-width: 1100px;
    margin: 170px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'OTWelcomeRA';
    color: rgb(69, 69, 69);
    
    h2{
        text-align: center;
        display: block;
        margin-bottom: 40px;
        font-size: 40px;
        letter-spacing: 4px;
        color: #f07d8d;
    }

    .leagues{
        display: flex;
        justify-content: space-around;
        margin: 50px 50px 0px;
        li{
            align-items: center;
            background-color: #fff;
            border-radius: 10px;
            color: #4e4e4e;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding: 11px 0 7px;
            text-align: center;
            width: 11%;
            word-break: keep-all;
            &:hover {
                box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
            }
            &:active {
                box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
            }
        }
        li.active{
            &:nth-child(1){background-color: #c7c5b5}
            &:nth-child(2){background-color: #de4040}
            &:nth-child(3){background-color: #9240de}
            &:nth-child(4){background-color: #aface8}
            &:nth-child(5){background-color: #89ce9f}
            &:nth-child(6){background-color: #daa520}
            &:nth-child(7){background-color: #c0c0c0}
            &:nth-child(8){background-color: #a1701b}
            background-color: #5766a8;
            color: white;
        }
    }
    
    .division{
        display: flex;
        opacity: 1;
        justify-content: center;
        margin: 40px 50px;
        transition: 0.5s;
        overflow: hidden;
        padding: 20px 0;
        li{
            text-align: center;
            width: 9%;
            cursor: pointer;
            margin: 0 20px;
            background-color:$color-white;
            color: rgb(138, 138, 138);
            padding: 9px 0 4px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
            }
        
            &:active {
                box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
            }
        }
        
        li.active{
            color: #f07d8d;
        }
    }

    .rankers{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 0 auto 50px;
        color: rgb(48, 48, 48);
        background-color: $color-bg;
        box-shadow: -1px -1px 10px $color-white,  1px 1px 10px #BABECC;
        border-radius: 10px;
        padding-bottom: 10px;
        li{
            width: 95%;
            height: 50px;
            margin: 0 auto ;
            padding: 10px 0 ;
            display: flex;
            align-items: center;
            border-radius: 8px;
            margin: 5px 0;
            box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);     
            transition: 1s;
            background-color: $color-white;
            &:nth-child(1) {
                background-color: transparent;
                box-shadow: none;
            }
            &:nth-child(2) {
                .rank{
                    color: black;
                    background: url("../img/crown.png") no-repeat;
                    background-size: 120px;
                    background-position:-6.5px -33px;
                    height: 30px;
                    width: 30px;
                    margin: 0 35px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .rankerName{
                    color:  rgb(221, 158, 0);
                }
            }   
            &:nth-child(3) {
                .rank{
                    color: black;
                    background: url("../img/crown.png") no-repeat;
                    background-size: 120px;
                    background-position: -45.5px -33px;
                    height: 30px;
                    width: 30px;
                    margin: 0 35px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .rankerName{
                    color: rgb(164, 164, 164);
                }
            }   
            &:nth-child(4) {
                .rank{
                    color: black;
                    background: url("../img/crown.png") no-repeat;
                    background-size: 120px;
                    background-position:-83px -33px;
                    height: 30px;
                    width: 30px;
                    margin: 0 35px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .rankerName{
                    color: rgb(149, 82, 82);
                }
            }   
            p{
                display: block;
                text-align: center;
            }
            .rank{
                width: 100px;
                transition: 0.5s;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 4px;
            }
            .rankerName{
                width: 50%;
                cursor: pointer;
                transition: 0.5s;
                display: flex;
                align-items: center;
                padding-top: 4px;
                &:hover{
                    font-size: 17px;
                    color: #b94f4f;
                }
            }
            .LP{
                width: 13%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 4px;
            }
            .winlose{
                display: flex;
                width: 15%;
                color: white;
                height: 25px;
                border-radius: 7px;
                overflow: hidden;
                .win{
                    text-align: left;
                    padding-left : 5px;
                    background-color: #5383E8;   
                    display: flex;
                    align-items: center;
                }
                .loss{
                    text-align: right;  
                    padding-right : 5px;
                    background-color: #E84057;
                    display: flex;
                    justify-content: right;
                    align-items: center;
                }
            }
            .Odds{
                width: 12%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 4px;
            }
        }
        .topItem{
            width: 100%;
            height: 50px;
            margin: 10px auto ;
            padding: 10px 0 20px;
            display: flex;
            align-items: center;
            position: relative;
            p{
                text-align: center;
                &:nth-child(1){
                    width: 10%;
                }
                &:nth-child(2){
                    width: 50%;
                    text-align: left;
                }
                &:nth-child(3){
                    width: 13%;
                }
                &:nth-child(4){
                    width: 15%;
                }
                &:nth-child(5){
                    width: 12%;
                }
            }
        }
    }
}

$tablet : 1024px;
$mobile : 768px;
$min : 240px;

@mixin device($min,$max){
    @media (min-width:$min) and (max-width:$max) {
        @content;
    }
}

@include device($mobile,$tablet){
    .Ranking .leagues{
        margin: 40px 4vw 0px;
        li{
            font-size: 14px;
            word-break : keep-all;
            padding: 8px 0;
        }
    }
    .Ranking .division{
        li{
            width: 80px;
        }
    }
    
    .Ranking .rankers li .winlose{
        .win, .loss{
            font-size: 14px;
            padding-top: 5px;
        }
    }
}

@include device($min,$mobile){
    .Ranking{
        margin-top: 190px;
        .leagues {
            flex-wrap: wrap;
            margin: 0px 4vw 0px;
            li{
                width: 23%;
                margin: 10px 1px 1px;
                font-size: 14px;
                word-break : keep-all;
                padding: 10px 0 4px;
                background-color: rgba(255, 255, 255, 0.9);
            }
        }
    
        .division {
            margin: 15px 0;
            padding: 0 4vw;
            height: 55px;
            align-items: center;
            li{
                width: 16%;
                height: 30px;
                margin: 0 2vw;
                padding: 6px 0 0 ;
                line-height: 30px;
            }
        }

        .rankers{
            box-shadow: 0px 0px 5px $color-white,  0px 0px 5px #BABECC;
            background-color:  rgba(243, 244, 243, 0.5);
            li{
                width: 95%;
                height: 50px;
                margin: 0 auto ;
                padding: 10px 0 ;
                display: flex;
                align-items: center;
                border-radius: 8px;
                margin: 5px 0;
                box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);     
                transition: 1s;
                background-color: $color-white;
                
                p{
                    display: block;
                    text-align: center;
                }
                &:nth-child(2),&:nth-child(3),&:nth-child(4) {
                    .rank{
                        color: black;
                        background: url("https://ifh.cc/g/lnhNBV.png") no-repeat;
                        background-size: 75px;
                        height: 25px;
                        width: 30px;
                        padding: 0 8px;
                        margin: 0;
                        margin-left: 1vw;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &:nth-child(2) {
                    .rank{
                        background-position:2.5px -19px;
                    }
                }   
                &:nth-child(3) {
                    .rank{
                        background-position:-22.5px -19px;
                    }
                }   
                &:nth-child(4) {
                    .rank{
                        background-position:-47px -19px;
                    }
                }   
                
                .rank{
                    width: 30px;
                    padding: 0 8px;
                    margin: 0;
                    margin-left: 1vw;
                    transition: 0.5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 4px;
                }
                
                .rankerName{
                    text-align: left;
                    font-size: 13px;
                    margin-left: 2vw;
                    &:hover{
                        font-size: 15px;
                        color: #f07d8d;
                    }
                }
                
                .LP{
                    width: 13%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 4px;
                    font-size: 12px;
                }
    
                .winlose{
                    min-width: 90px;
                    margin: 0 10px;
                    font-size: 11px;
                    .win{
                        padding-left : 5px;  
                    }
                    .lose{
                        padding-right : 5px;
                    }
                }
                
                .Odds{
                    padding-right: 10px;
                    font-size: 12px;
                }
                &:hover{
                    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
                    }
                &:active {
                    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
                }
            }

            .topItem{
                height: 50px;
                width: 95%;
                margin: 5px auto 0;
                font-size: 13px;
                background-color: transparent;
                border: none;
                box-shadow: none; 
                p{
                    &:nth-child(1){
                        width: 40px;
                        padding: 0;
                        margin: 0;
                        margin-left: 1vw;
                    }
                    &:nth-child(2){
                        width: 50%;
                        text-align: left;
                       padding-left: 3vw;
                    }
                    &:nth-child(3){
                        width: 13%;
                    }
                    &:nth-child(4){
                        min-width: 90px;
                        margin: 0 5px;
                    }
                    &:nth-child(5){
                        width: 16%;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}
